@import "../../assets/sass/color";
.subscription-dialog {
  .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .btn {
      margin: 0;
    }
  }
  input {
    width: 250px !important;
  }
  .card-title {
    font-family: "Montserrat" !important;
    color: $colorCare1 !important;
    font-size: 1.4em !important;
  }
  .icon {
    width: 100%;
    height: 50px;
    margin: 1rem 0;
  }
}
