@import "../../assets/sass/color";
.margin-right {
  margin-right: 1rem !important;
}

.MuiDialog-root {
  background-color: $colorCare1;
  .card {
    &-title h2 {
      font-family: "Montserrat";
      color: #5a2d8f;
      font-size: 1.5em;
      margin-top: 10px;
      text-align: center;
    }

    &-title + div {
      justify-content: center;
    }
    &-title + div + hr + label {
      text-align: center;
    }
    &-title + div + hr + label + div {
      max-width: 100%;
      margin: 20px 0;
      display: flex;
      justify-content: center;
    }
  }

  .products-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    .card {
      &-selected {
        display: flex;
        align-items: stretch;
      }

      &-title {
        font-size: 1em;
      }
      img {
        width: auto;
        height: 80px;
      }
    }
  }
}

/* 
480px
528px
641px
767px
991px
1199px
1250px
1400px
*/
