.adminSup {
  width: 100%;
  &__graphicloginBox2 {
    display: flex;
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__text {
        color: white;
        font-weight: 100;
        font-size: 14px;
      }
      svg {
        margin-top: 20%;

        width: 150px;
        height: 80px;
      }
    }
    &__button {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }
  &__one {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__section {
    width: 100%;
    height: 100vh;

    display: flex;
    font-family: Arial, Helvetica, sans-serif;

    &__left {
      width: 20%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 1rem;
      align-items: flex-start;
      background-color: #662d91;

      &__brand {
        font-weight: bold;
        font-size: 1.6rem;
        color: white;
      }
      &__sublabel {
        padding-top: 2rem;
        font-weight: lighter;
        font-size: 13px;
        margin-bottom: 1rem;
        color: #ffffff;
      }
      &__part {
        width: 100%;
        margin: 1%;

        &--suscripciones {
          width: 100%;
          padding: 3%;
          height: 5%;
          padding-left: 9%;
          background-color: #db00ff;
          border-radius: 3px;
          margin-bottom: 5%;
        }
        &--pedidos {
          width: 100%;
          padding: 3%;
          height: 5%;
          padding-left: 9%;
        }
      }
      &__subpart {
        font-size: 0.8rem;
        font-weight: 100;
        margin-bottom: 1.5rem;
        color: #ffffff;
      }
      .button {
        background-color: #db00ff;
        border-color: #db00ff;
        border-width: 0px;
        border-radius: 5px;
        font-size: 0.9rem;
        color: white;
        height: 40px;
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &__right {
      margin-top: 7%;

      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
      margin-left: 2rem;
      &__tittle {
        font-size: 30px;
        font-weight: bold;
        color: #662d91;
        font-family: "Montserrat";
        margin-bottom: 2%;
      }
      &__subtittle {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 2%;
      }
      &__data {
        width: 95%;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        font-weight: bold;
      }
      &__label {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 0rem;
      }
      &__sublabel {
        font-weight: lighter;
        font-size: 0.7rem;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
      }
      &__img {
        height: 15rem;
      }
      &__table {
        width: 95%;
        font-weight: bold;
        font-size: 1rem;
      }
      .css-4xdstb-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
        color: #7d7d7d;
      }
      .button {
        background-color: #db00ff;
        border-color: #db00ff;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
.image {
  height: 1.5rem;
  padding-right: 0.8rem;
}

.blank {
  height: 6rem;
}
