// variables de color
@import "../../assets/sass/color";

@media (min-width: 1px) {
  // header
  .login-content {
    background: transparent;
    position: absolute !important;

    .navbar-nav::after {
      width: 0;
      height: 0;
    }
  }
  // main
  .loginBox {
    min-height: 100vh;
    background: url(../../assets/loginFondo.png) center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 195px;
    padding-bottom: 100px;

    &__left {
      background: #fff;
      padding: 40px 20px;
      margin: 20px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: inherit;
      }
    }
    &__right {
      display: none;
    }
  }
}
@media (min-width: 528px) {
  // main
  .loginBox {
    &__left {
      width: 450px;
    }
  }
}
@media (min-width: 768px) {
  // header
  .login-content {
    .navbar-toggler + .navbar-bg {
      height: 0;
    }
  }
  // main
  .loginBox {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 991px) {
  // header
  .login-content {
    .navbar-brand {
      color: $colorCare1 !important;
    }
    svg {
      fill: $colorCare1;
    }
  }
  // main
  .loginBox {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    &__left {
      margin: 0;
      border-radius: 0;

      form {
        align-items: flex-start;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      color: #fff;
      span {
        color: $colorCare4;
      }
      svg {
        width: 200px;
        height: 200px;
      }
    }
  }
}
@media (min-width: 1199px) {
  .loginBox {
    &__right {
      svg {
        width: 350px;
        height: 350px;
      }
    }
  }
}
// celulares en horizontal
@media (max-height: 668px) and (min-width: 668px) {
  .login-content {
    position: absolute !important;
  }
  .loginBox {
    min-height: 668px;
  }
}
// footer

/* 
480px
528px
641px
767px
991px
1199px
1250px
1400px
*/
