.perfil {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4.5rem;

  &__form {
    margin-top: 7%;
    width: 45%;
    align-self: center;
    &__title {
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      font-weight: bold;

      color: #662d91;
      font-family: "Montserrat";
    }
    &__button {
      justify-content: center;
      display: flex;
      margin-bottom: 8%;
      &__textButton {
        font-size: 16px;
        font-weight: bold;
        justify-content: center;
      }
      .button {
        background-color: #db00ff;
        border-color: #db00ff;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 30%;
        margin-bottom: 20px;
      }
    }

    &__datos {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
@media (max-width: 992px) {
  .perfil {
    &__form {
      width: 80%;
      &__button {
        .button {
          width: 100% !important;
        }
      }
    }
  }
}
