.register {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4.5rem;
  
    &__form {
      margin-top: 3.5%;
      width: 45%;
      align-self: center;
      &__back {
        display: flex;
        font-size: 16px;
        font-weight: bold;
  
        color: #662d91;
        font-family: "Montserrat";
      }
      &__title {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-weight: bold;
  
        color: #662d91;
        font-family: "Montserrat";
      }
  
      &__textButton {
        font-size: 16px;
        font-weight: bold;
      }
      &__datos {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__space {
          height: 50px;
          width: 100%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
        &__button {
          justify-content: center;
          display: flex;
          margin-bottom: 10%;
        }
      }
  
      .button {
        width: 40% !important;
      }
      a {
        text-decoration: none;
      }
    }
    .button {
      background-color: #db00ff;
      border-color: #db00ff;
      border-width: 0px;
      border-radius: 5px;
      color: white;
      height: 41px;
      width: 40%;
    }
    .button:disabled {
      background-color: #db00ff;
      border-color: #db00ff;
      opacity: 0.5;
      border-width: 0px;
      border-radius: 5px;
      color: white;
      height: 41px;
      width: 30%;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 992px) {
    .register {
      &__form {
        width: 80%;
      }
      .button {
        width: 100% !important;
      }
    }
  }
  