@import "../../assets/sass/color";

@media (min-width: 1px) {
  .productcard {
    display: flex;
    align-items: stretch;
    padding: 0.25rem;
    width: 100%;
    .card {
      background-color: #fff !important;
      justify-content: space-between;
      .card-body {
        color: $colorCare1;
        font-size: 1rem;
        .card-title {
          font-size: 1rem;
        }
      }
      img {
        width: auto !important;
        height: 120px;
        align-self: center;
      }
    }
  }
}
@media (min-width: 528px) {
  .productcard {
    width: 50%;
  }
}
@media (min-width: 641px) {
  .productcard {
    width: 33%;
  }
}
@media (min-width: 767px) {
  .productcard {
    width: 50%;
  }
}
@media (min-width: 991px) {
  .productcard {
    width: 250px;
    margin: 20px;
  }
}
/* 
480px
528px
641px
767px
991px
1199px
1250px
1400px
*/
