// variables de color
@import "../../assets/sass/color";

.boxcard {
  margin: 0.25rem;
  width: 13rem;
  background-color: rgba(255, 255, 255, 0.1);

  transition: all 0.2s ease;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: $colorCare1 !important;
    svg {
      path {
        fill: $colorCare1 !important;
      }
    }
  }

  .card {
    align-items: center;
    flex: 1;
    .card-body {
      width: 100%;
    }
  }
  svg {
    width: 90px;
    margin-top: 20px;
    height: auto;
    path {
      fill: #fff;
    }
  }
  a {
    display: block;
    button {
      width: 100%;
    }
  }
}

.imgContainerBox {
  height: 150px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}
