.indications {
  align-self: center;
  &__title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    font-family: "Montserrat";

    &__image {
      padding-left: 2%;
      height: 10%;
    }
  }
  &__description {
    color: #c4c4c4;
    font-size: 16px;
    width: 428px;
    margin-bottom: 20px;
    font-weight: 100;
  }
  .button {
    background-color: #db00ff;
    border-color: #db00ff;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 40%;
  }
}

.casoone {
  &__title {
    color: white;
  }
  &__description {
    color: white;
  }
}
.casotwo {
  &__title {
    color: #662d91;
  }
  &__description {
    color: black;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .indications {
    &__description {
      width: 300px;
    }
  }
}
@media (max-width: 768px) {
  .indications {
    align-self: center;
    &__title {
      font-size: 20px;
      font-weight: bold;
    }
    &__description {
      // color: #c4c4c4;
      font-size: 14px;
      width: 300px;
      text-align: justify;
      width: 100%;
    }
    .button {
      width: 90%;
    }
  }
}

@media (max-width: 576px) {
  .indications {
    align-self: center;
    &__title {
      font-size: 20px;
      font-weight: bold;
    }
    &__description {
      // color: #c4c4c4;
      font-size: 14px;
      width: 300px;
      text-align: justify;
      width: 100%;
    }
    .button {
      width: 100%;
    }
  }
}
