// @import url("https://fonts.googleapis.com/css2?family=Montserrat");
// variables de color
@import "../../assets/sass/color";

@media (min-width: 1px) {
  // header
  .box-content {
    position: absolute !important;
    background: #fff;

    .navbar-brand {
      color: $colorCare1 !important;
    }
    svg {
      fill: $colorCare1;
    }

    a {
      color: $colorCare1 !important;
    }
    a.active {
      color: $colorCare2 !important;
    }
    .navbar-toggler {
      color: $colorCare1 !important;
      border-color: $colorCare1 !important;
      svg path {
        stroke: $colorCare1;
      }
    }

    .navbar-toggler + .navbar-bg {
      height: 300px;
      background: $colorCare4;
    }
    .navbar-toggler.collapsed + .navbar-bg {
      height: 0;
      transition: all 0.4s ease;
    }
    .dropdown-menu {
      background: $colorCare2;
      button {
        color: #fff;
      }
    }
    .nav-item.dropdown a span {
      color: $colorCare1 !important;
    }

    .nav-item.dropdown a.show span {
      color: $colorCare2 !important;
    }
  }

  // main
  .divide-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: $colorCare1;

    & > div {
      width: 100%;
      padding: 25px;
    }
    &__left {
      padding-top: 120px !important;
      background: #fff;

      h1 {
        font-family: "Montserrat";
        color: $colorCare1;
        font-size: 1.8em;
      }
      p {
        margin-bottom: 40px;
        font-weight: normal;
      }
      &__form > label:not(.btn) {
        text-transform: uppercase;
        color: $colorCare1;
      }
    }
    &__right {
      color: #fff;
      &__scroll {
        margin-top: 20px;
        & > .d-flex {
          justify-content: center;
        }
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        i {
          opacity: 0.8;
        }
      }
    }
  }
}
@media (min-width: 641px) {
}
@media (min-width: 768px) {
  // header
  .box-content {
    background: transparent;
    a {
      color: #fff !important;
    }
    a.active {
      color: $colorCare2 !important;
    }

    .navbar-toggler {
      color: #fff !important;
      border-color: #fff !important;
      svg path {
        stroke: #fff;
      }
    }
    .nav-item.dropdown a span {
      color: #fff !important;
    }
  }

  // main
  .divide-component {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    height: auto !important;

    &__left {
      padding-top: 150px !important;
      width: 300px !important;
      flex-shrink: 0;
      .divide-component__left__form {
        position: relative;
      }
    }
    &__right {
      padding-top: 150px !important;
      flex: 1;

      &__scroll {
        // overflow-y: auto;
      }
    }
  }
}

/* 
480px
528px
641px
767px
991px
1199px
1250px
1400px
*/
