body {
  padding-top: 0px;
}
.css-dwitn5-MuiInputBase-root-MuiOutlinedInput-root,
.css-1icfinu {
  color: white !important;
}

.adminLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #662d91;

  &__form {
    width: 25%;
    justify-content: center;
    align-self: center;
    &__tittle {
      color: white;
      text-align: center;
      font-size: 30px;
      font-family: "Montserrat";
    }
    &__subtittle {
      color: white;
      text-align: center;
      margin-bottom: 40px;
      font-size: 14px;
    }
    &__button {
      display: flex;
      justify-content: center;
      .button {
        background-color: #db00ff;
        border-color: #db00ff;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 60%;
        margin-bottom: 20px;
      }
      .button:disabled {
        background-color: #db00ff;
        border-color: #db00ff;
        opacity: 0.5;
        border-width: 0px;
        border-radius: 5px;
        color: white;
        height: 41px;
        width: 60%;
        margin-bottom: 20px;
      }
    }

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      width: 100%;
    }
    svg {
      height: 100px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .adminLogin {
    &__form {
      width: 80%;
      &__boton {
        .button {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .adminLogin {
    height: 700px !important;
  }
}
@media (min-width: 1px) {
  .adminSup {
    &__section {
      &__left {
        .btn {
          width: 100%;
          cursor: initial;
          a {
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
              background: rgba($color: #fff, $alpha: 0.1);
            }
          }
          span {
            background: #db00ff;
            color: #fff;
          }

          & > a,
          & > span {
            width: 100%;
            display: flex;
            align-items: center;

            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .adminSup {
    &__section {
      padding: 0 !important;
      flex-direction: column;
      &__left {
        flex: 1;
        width: 100% !important;
      }
      &__right {
        width: auto !important;
        &__tittle {
          &__label {
            font-size: 0.8em !important;
          }
        }
      }
    }

    &__one {
      margin: 0 !important;
    }
  }
}
