// variables de color
@import "../../assets/sass/color";

@media (min-width: 1px) {
  // header
  .mibox-content {
    position: absolute !important;
    background: #fff;

    .navbar-brand {
      color: $colorCare1 !important;
    }
    svg {
      fill: $colorCare1;
    }

    a {
      color: $colorCare1 !important;
    }
    a.active {
      color: $colorCare2 !important;
    }
    .navbar-toggler {
      color: $colorCare1 !important;
      border-color: $colorCare1 !important;
      svg path {
        stroke: $colorCare1;
      }
    }

    .navbar-toggler + .navbar-bg {
      height: 300px;
      background: $colorCare4;
    }
    .navbar-toggler.collapsed + .navbar-bg {
      height: 0;
      transition: all 0.4s ease;
    }
    .dropdown-menu {
      background: $colorCare2;
      button {
        color: #fff;
      }
    }
    .nav-item.dropdown a span {
      color: $colorCare1 !important;
    }

    .nav-item.dropdown a.show span {
      color: $colorCare2 !important;
    }
  }

  // content
  .mibox {
    .newcard {
      background: transparent !important;
      text-align: center;
      align-items: stretch;
      display: flex;
      flex-direction: row;
      a {
        align-items: stretch;
        display: flex;
        flex: 1;
        text-decoration: none;
        color: #fff;

        .card {
          flex: 1;
          background: transparent !important;
          border: solid 4px #fff;
          justify-content: center;
          .card-body {
            flex: 0;
          }

          img {
            margin-top: 20px;
            width: 70px;
            height: 70px;
            padding: 0;
            transition: all 0.2s ease;
            transform: scale(1);
          }
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  // header
  .mibox-content {
    background: transparent;
    a {
      color: #fff !important;
    }
    a.active {
      color: $colorCare2 !important;
    }

    .navbar-toggler {
      color: #fff !important;
      border-color: #fff !important;
      svg path {
        stroke: #fff;
      }
    }
    .nav-item.dropdown a span {
      color: #fff !important;
    }
  }
}
